# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [127]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [128]:
import os
#путь если что поменяете ыыы
directory = 'Data/Data/'
files = os.listdir(directory)

In [129]:
data = pd.read_csv(directory+files[0], sep = ',')
for i in files[1:10]:
    datanew = pd.read_csv(directory+i, sep = ',')
    data = pd.concat([data, datanew])

In [130]:
data = data.set_index(['index'])

In [131]:
data1 = pd.read_csv(directory+files[10], sep = ',')
for i in files[11:]:
    datanew = pd.read_csv(directory+i, sep = ',')
    data1 = pd.concat([data1, datanew])
data1 = data1.set_index(['index'])

In [132]:
data = data.join(data1)

In [133]:
data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
index,,,,,,,,,
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 3. Выведите на экран размеры полученной таблицы

In [134]:
data.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [135]:
data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [136]:
data.isnull().mean()

gender                         0.0
race/ethnicity                 0.0
parental level of education    0.0
lunch                          0.0
test preparation course        0.0
group                          0.0
math score                     0.0
reading score                  0.0
writing score                  0.0
dtype: float64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [137]:
print(data['math score'].mean())
print(data['reading score'].mean())
data['writing score'].mean()

66.089
69.169

68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [138]:
data.groupby("test preparation course")['math score'].apply(lambda x: x.mean())

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64

In [139]:
data.groupby("test preparation course")['reading score'].apply(lambda x: x.mean())

test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64

In [140]:
data.groupby("test preparation course")['writing score'].apply(lambda x: x.mean())

test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [141]:
set(data['lunch'])

{'free/reduced', 'standard'}

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [142]:
# да я не изменила таблицу инплейсом мне оч жаль
data.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
index,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [143]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

1. Какая доля студентов сдала экзамен по математике (passmark > 50)?

In [144]:
(data['math score'] >= passmark).mean()

0.865

2. Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?

In [145]:
(data[data['test preparation course']=='completed']['math score'] >= passmark).mean()

0.9217877094972067

3. Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [146]:
(data[(data['test preparation course']!='completed') & (data['gender'] == 'female')]['math score'] < passmark).mean()

0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

1. Для каждой этнической группы выведите средний балл за экзамен по чтению

In [147]:
import time

In [148]:
start = time.time()
data.groupby("race/ethnicity")["reading score"].mean()
time1 = time.time()-start

2. Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [149]:
start = time.time()
data.groupby("parental level of education")["writing score"].min()
time3 = time.time()-start

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

1. Для каждой этнической группы выведите средний балл за экзамен по чтению

In [150]:
start = time.time()

list1 = sorted(list(set(data['race/ethnicity'])))
group = [0]*len(list1)
counter = [0]*len(list1)
dic = {list1[i]: i for i in range(len(list1))}

for index, row in data.iterrows():
    s = dic[row['race/ethnicity']]
    group[s] += int(row["reading score"])
    counter[s]+=1

for i in range(5):
    print (list1[i], group[i]/counter[i], sep = ' \t')

time2 = time.time()-start

group A 	64.67415730337079
group B 	67.35263157894737
group C 	69.10344827586206
group D 	70.03053435114504
group E 	73.02857142857142

In [151]:
time2>time1

True

2. Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [152]:
start = time.time()

list1 = sorted(list(set(data["parental level of education"])))
group = [[] for i in range (len(list1))]
dic = {list1[i]: i for i in range(len(list1))}

for index, row in data.iterrows():
    s = dic[row["parental level of education"]]
    group[s].append(int(row["writing score"]))

for i in range(len(list1)):
    print (list1[i], min(group[i]), sep = ' \t')

time4 = time.time()-start

associate's degree 	35
bachelor's degree 	38
high school 	15
master's degree 	46
some college 	19
some high school 	10

In [153]:
time3<time4

True

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [154]:
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [155]:
pd.pivot_table(data=data,index=['parental level of education', 'gender'], values=['math score', 'reading score', 'writing score'], aggfunc=np.mean)

                                    math score  reading score  writing score
parental level of education gender
associate's degree          female   65.250000      74.120690      74.000000
                            male     70.764151      67.433962      65.405660
bachelor's degree           female   68.349206      77.285714      78.380952
                            male     70.581818      68.090909      67.654545
high school                 female   59.351064      68.202128      66.691489
                            male     64.705882      61.480392      58.539216
master's degree             female   66.500000      76.805556      77.638889
                            male     74.826087      73.130435      72.608696
some college                female   65.406780      73.550847      74.050847
                            male     69.009259      64.990741      63.148148
some high school            female   59.296703      69.109890      68.285714
                            male     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [156]:
data["Math_PassStatus"] = data["math score"].apply(lambda s: 'F' if s < passmark else 'P')
data["Math_PassStatus"].value_counts()

P    865
F    135
Name: Math_PassStatus, dtype: int64

In [157]:
data["Reading_PassStatus"] = data["reading score"].apply(lambda s: 'F' if s < passmark else 'P')
data["Reading_PassStatus"].value_counts()

P    910
F     90
Name: Reading_PassStatus, dtype: int64

In [158]:
data["Writing_PassStatus"] = data["writing score"].apply(lambda s: 'F' if s < passmark else 'P')
data["Writing_PassStatus"].value_counts()

P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [159]:
data["OverAll_PassStatus"] = (data["Reading_PassStatus"]== 'P') &(data["Writing_PassStatus"]== 'P')& (data["Math_PassStatus"]== 'P')

In [160]:
data["OverAll_PassStatus"].sum()

812

In [161]:
data["OverAll_PassStatus"].replace({False: 'F', True: 'P'}, inplace=True)

In [162]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
index,,,,,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [163]:
def GetGrade(average_mark):
    l = (average_mark['reading score'] + average_mark['math score'] + average_mark['writing score'])/3
    if l > 90:
        return 'A'
    elif l > 80:
        return 'B'
    elif l > 70:
        return 'C'    
    elif l > 60:
        return 'D'    
    elif l > 50:
        return 'E'    
    else:
        return 'F'

data["Grade"] = data.apply (lambda y: GetGrade(y), axis=1)

In [164]:
data["Grade"].value_counts()

D    260
C    253
E    184
B    144
F    109
A     50
Name: Grade, dtype: int64